<Layout as |layout|>
	<layout.header local-class="header">
		{{#link-to 'sport' @sport.slug tagName='h1'}}{{@sport.title}}{{/link-to}}

		<nav>
			{{#link-to 'sport.manage' @sport.slug}}manage{{/link-to}}
			Add Group
		</nav>
	</layout.header>

	<layout.main>
		{{yield}}
	</layout.main>
</Layout>
