<Layout as |layout|>
	<layout.header local-class="header">
		<h1>{{@sport.title}}</h1>

		<nav>
			Add Skill
			Add Group
		</nav>
	</layout.header>

	<layout.main>
		{{yield}}
	</layout.main>
</Layout>
