<label local-class="label">
	<input
		type="radio"
		checked={{eq @value @group.args.value}}
		{{on "change" (fn @group.change @value)}}
	>

	{{@label}}

	{{#if @description}}
		<small local-class="description">{{@description}}</small>
	{{/if}}
</label>