<div local-class="layout" ...attributes>
	{{yield (hash
		header=(component 'area' class=(local-class "area-header"))
		hero=(component 'area' class=(local-class "area-hero"))
		main=(component 'area' class=(local-class "area-main"))
	)}}
</div>