<Layout as |layout|>
	<layout.main>
		<h2>Suggest a Sport</h2>

		{{log this.suggest}}

		{{#if this.suggest.last.value}}
			thank you for your suggestion
		{{else}}
			<SportForm @task={{this.suggest}} />
		{{/if}}
	</layout.main>
</Layout>