<Layout as |layout|>
	<layout.Main>
		<h2>Suggest a Sport</h2>

		{{#if this.suggest.last.value}}
			thank you for your suggestion
		{{else}}
			<SportForm @task={{this.suggest}} />
		{{/if}}
	</layout.Main>
</Layout>