<Layout as |layout|>
	<layout.hero>
		<h1>Sports</h1>
	</layout.hero>

	<layout.main>
		<ul>
			{{#each model as |sport|}}
				<li>{{#link-to 'sport' sport.slug}}{{sport.title}}{{/link-to}}</li>
			{{/each}}
		</ul>
	</layout.main>
</Layout>

