<Layout as |layout|>
	<layout.Hero>
		<h1>Sports</h1>
	</layout.Hero>

	<layout.Main>
		<ul>
			{{#each model as |sport|}}
				<li><LinkTo @route="sport" @model={{sport.slug}}>{{sport.title}}</LinkTo></li>
			{{/each}}
		</ul>
	</layout.Main>
</Layout>