.input-group {
	margin-bottom: 10px;
}

.label {
	display: block;
	font-weight: bold;
}

.description {
	display: block;
	padding: 5px 0;
	font-size: 80%;
}

.input {
	min-width: 300px;
}

.error {
	color: red;
	display: block;
}
